/build
/bin
/.settings
/.gradle
/eclipse
/logs
/mods
/resourcepacks
/saves
/.classpath
/.project
/config
/crash-reports
/options.txt
/usernamecache.json
/screenshots

#various Forge files
/forge-*.txt
/*-fml.txt
/MinecraftForge-*.txt
/README.txt
/CREDITS-fml.txt